<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>06_wathch监视数据变化</title>
    <script src="vue1026.js"></script>
</head>
<body>
<div id="app">
    <input type="text" v-model="firstName">
    <input type="text" v-model="lastName">
    {{fullName}}
</div>

<script>
    new Vue({
        el:'#app',
        data:{
            firstName:'wwb',
            lastName:'luw',
            fullName:'wwbluw'
        },
        watch:{
            'firstName':function (newVal,oldVal) {
                this.fullName=this.firstName+this.lastName;
            },
            'lastName':function (newVal,oldVal) {
                this.fullName=this.firstName+this.lastName;
            },
        }
    });
</script>
</body>
</html>