<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>08_compute监视数据变化</title>
    <script src="vue1026.js"></script>
</head>
<body>
<div id="app">
    <input type="text" v-model="firstName">
    <input type="text" v-model="lastName">
    {{fullName}}
</div>

<script>
    new Vue({
        el:'#app',
        data:{
            firstName:'wwb',
            lastName:'luw',

        },
        computed:{
            fullName:function () {
               return this.firstName+this.lastName;
            }
        }
    });
</script>
</body>
</html>